In [1]:
import pandas as pd

In [2]:
dict = {
    'first':['Jane','John','Donald'],
    'last':['Doe','Doe','Trump']
}

In [3]:
df = pd.DataFrame(dict)

In [4]:
df

    first   last
0    Jane    Doe
1    John    Doe
2  Donald  Trump

In [5]:
df['first'] == 'Donald'

0    False
1    False
2     True
Name: first, dtype: bool

In [6]:
df['last'] == 'Doe'

0     True
1     True
2    False
Name: last, dtype: bool

In [7]:
print(df['last'] == 'Doe')

0     True
1     True
2    False
Name: last, dtype: bool

In [8]:
filt = df['last'] == 'Doe'

In [9]:
filt

0     True
1     True
2    False
Name: last, dtype: bool

In [10]:
df['filt']

KeyError: 'filt'

In [11]:
df.loc('filt')

ValueError: No axis named filt for object type DataFrame

In [12]:
df[filt]

  first last
0  Jane  Doe
1  John  Doe

In [14]:
df.loc[filt]

  first last
0  Jane  Doe
1  John  Doe

In [15]:
df.loc[filt,'last']

0    Doe
1    Doe
Name: last, dtype: object